<h2>Pull Requests</h2>
  <div class="box attachments">
  <table class="list issues sort-by-id sort-asc">
    <thead>
      <tr>
        <th>Title</th>
        <th>Id on Github</th>
        <th>No on Github</th>
        <th>Html URL</th>
        <th>File Changes</th>
        <th>File Changes Quick view</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
        <% if @pull_requests.blank?%>
          <tr><td colspan="6"><b>---------- No Pull Requests Found ----------<b></td><tr>
        <% else
          @pull_requests.each do |pull_request| %>
          <tr>
            <td><%= pull_request.title%></td>
            <td><%= pull_request.git_id%></td>
            <td><%= pull_request.no%></td>
            <td><%= link_to "View On Github",pull_request.html_url%></td>
            <td><%= link_to "View files changes  On Github",pull_request.difference_url%></td>
            <td><%= link_to "check quick change", view_changed_files_path(pull_request), remote: true %></td>
            <td><%= pull_request.state%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  </div>
  
  <div id="difference_display">
    <%= render partial: 'difference_display', locals: {pull_request: @pull_request}  %>
  </div>
